extends layout
block section_main
	core-drawer-panel
		core-header-panel(drawer mode="seamed" id="left-drawer")
			core-toolbar 
				a(href="/" id="logo-link")
					img(src="/img/logo.png" id="logo-toolbar")
			div
				each category in model.categories
					- var shortDescription = category.description.length > 20 ? category.description.substring(0, 25)+"..." : category.description;
					- var currentCategory = category == model.categories[1];
					div(filter-element current-category="#{currentCategory}" data-type="category" data-value="#{category.shortName}" title="#{category.name} : #{category.description}") #{category.name} : #{shortDescription}
		core-header-panel(id="main-panel" main navigation flex mode="waterfall-tall")
			core-toolbar 
				div.bottom 
					span #{model.universityName}
					#cart-number-products
			div.content
				block section_content